<%- include('../partials/header.ejs') %>

<h1>Your folders</h1>
<div class="folders-container">
  <!-- Edit Folder Modal -->
  <%- include('edit-folder-form.ejs') %>

  <div class="folders-actions">
    <!-- Add Folder Form -->
    <%- include('add-folder-form.ejs', { folder }) %>

    <!-- Upload Files Form -->
    <%- include('../files/upload-file-form.ejs', { folder }) %>
  </div>

  <!-- Folder List -->
  <ul class="folders-list">
    <% if(folders.length === 0) {%>
    <div><strong>This folder is empty!</strong></div>
    <% } %> <% folders.forEach((folder) => { %>
    <li class="folders-list-item">
      <div class="left">
        <img class="folder-icon" src="/icons/folder.png" alt="Folder" />
        <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
      </div>
      <button
        id="openEditFolderModalBtn"
        data-folder="<%= JSON.stringify(folder)%>"
      >
        Edit
      </button>
      <form action="/folders/<%= folder.id %>/delete" method="post">
        <button>Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
  <%- include('../files/files-list.ejs', { files }) %>
</div>
<script src="/js/editFolderModal.js"></script>

<%- include('../partials/footer.ejs') %>
